@import url(https://fonts.googleapis.com/css?family=Domine);

* {
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
}

#calendar {
    text-align: center;
    width: 100%;
}

#calendarFrame {
    width: 100%;
    margin: 0 auto;
}

#year{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#years{
  display: none;
  height: 100px;
  overflow: auto;
  width: 100%;
  color: inherit;
  background-color: lightgrey;
  z-index: 1;
}

#years a:hover {
    background-color: grey;
}

#year a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

#year:hover #years {
    display:block;
}

#selectedYear {
    padding: 0; margin: 0;
}

.calHeader {
    background-color: white;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}
    .calHeader div {
        display: flex;
    }
    .calHeaderHalve {
        top: 20px;
        height: 100%;
        flex: 3 auto;
        background-color: inherit;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
    }
    
    .calHeaderHalve:hover{
        cursor: pointer; 
    }
    
        .calHeader  {
            text-align: right;
        }
        .calHeader:first-child {
            text-align: left;
        }

    .calHeader:after {
        clear: both;
    }
    

.normalCal {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.months {
    height: 25em;
    width: 32%;
    float: left;
    background-color: #ddd;
    border-collapse: collapse;
    margin-bottom: 2em;
}

    .months, .months_w {
        font-size: 16px;
    }
        .months th, .months_w th {
            padding: 3px;
        }

.months_w {
    width: 95%;
    margin: 0 auto;
    background-color: #ddd;
    border-collapse: collapse;
}

    .months_w td:nth-child(1) {
        width: 10em;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .months_w td:nth-child(2) {
        width: 25em;
    }

.month_name {
    font-size: 1.5em;
    letter-spacing: 0.15em;
    background-color: rgba(200, 20, 0, 0.9);
    height: 2em;
    color: white;
    text-transform: uppercase;
}

.month_name_w {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    background-color: rgba(0, 20, 110, 0.9);
    height: 2.5em;
    color: white;
}

.day_name {
    font-size: 1.2em;
    font-weight: bold;
}

.day_name_horizontal {
    padding: 0 20px;
}

.day_names_w_style {
    text-transform: uppercase;
    font-size: .6em;
}


.day {
    font-size: 1.3em;
    border: 1px solid grey;
    position: relative;
}

.nums {
    font-size: 1.5em;
    text-align: right;
    padding-right: 10px;
    height: 3em;
}

.day_weekend {
    color: red;
    font-weight: bold;
}

.day_horizontal {
    width: 25em;
}

.redDay{
    box-shadow: inset 0 0 0 1000px #ccc;
}

.celldescription {
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.celldescription p {
    font-size: 0.8em;
}

.footerDescription {
    font-size: 0.9em;
}

@media print {

    @page {
        size: auto A4 landscape;
        margin: 5mm;
    }
    
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact;
    }
    
    .months {
        height: 20em;
        width: 15%;
        font-size: 12px;
    }
        .months tfoot {
            font-size: 10px;
        }
        .months .day {
            border: none;
        }
    
    .redDay{
        box-shadow: inset 0 0 0 1000px #ccc;
    }
    
    #calSpace, #calSpace * {
        visibility: visible;
    }
    
    #calendarFrame {
        width: 100%;
    }
    
    .months_w {
        page-break-before: always;
        background-color: white; 
    }
    
        .months_w td:nth-child(1) {
            font-size: 12px;
        }
        
        .months_w td:nth-child(2) {
            width: 25em;
        }

        .months_w tfoot th{
            font-weight: normal;
            font-size: 12px;
        }

    .month_name_w {
        padding-top: 30mm;
        background-color: white;
        color: black;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .nums{
        height: 4.9em;
        font-size: .8em;
    }
    
    .day_weekend {
        color: black;
    }
    
    .day_names_w_style {
        font-size: .2em;
    }
    
    .celldescription {
        font-size: 12px;
    }
} /*end of @media print*/
