* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Georgia, serif;
    overflow-x: none;
}

#calendar {
    text-align: center;
    width: 100%;
}

    #calendar form {
        font-size: 2em;
        padding-bottom: 50px;
    }

        #calendar form td{
            width: 10em;
        }

#calendarFrame {
    width: 95%;
    margin: 0 auto;
}

#year {
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(0, 15, 100, 0.9);
    padding: 0.2em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: none;
}

.months {
    height: 25em;
    width: 32%;
    float: left;
    background-color: #ddd;
    margin: 1em .5%;
    border-collapse: collapse;
}

    .months, .months_w {
        font-size: 16px;
    }
        .months th, .months_w th {
            padding: 3px;
        }

.months_w {
    width: 98%;
    background-color: #ddd;
    border-collapse: collapse;
    margin: 1em 0 2em .5%;
}

    .months_w td:nth-child(1) {
        width: 10em;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .months_w td:nth-child(2) {
        width: 25em;
    }

.month_name {
    font-size: 1.5em;
    letter-spacing: 0.15em;
    background-color: rgba(200, 20, 0, 0.9);
    height: 2em;
    color: white;
    text-transform: uppercase;
}

.month_name_w {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    background-color: rgba(0, 20, 110, 0.9);
    height: 2.5em;
    color: white;
}

.day_name {
    font-size: 1.3em;
    /*padding: 0.3em;*/
    font-weight: bold;
}

.day_name_horizontal {
    padding: 0 20px;
}

.day_names_w_style {
    text-transform: uppercase;
    font-size: .6em;
}


.day {
    font-size: 1.3em;
    border: 1px solid grey;
    position: relative;
}

.nums {
    font-size: 1.5em;
    text-align: right;
    padding-right: 10px;
    height: 3em;
}

.day_weekend {
    color: red;
    font-weight: bold;
}

.day_horizontal {
    width: 25em;
}

.redDay{
    box-shadow: inset 0 0 0 1000px #ccc;
}

.celldescription {
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-weight: 0.8em;
}

@media print {

    @page {
        size: auto A4 landscape;
        margin: 5mm;
    }
    
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact;
    }
    
    .months {
        height: 20em;
        width: 15%;
        font-size: 12px;
    }
        .months tfoot {
            font-size: 10px;
        }
        .months .day {
            border: none;
        }
    
    .redDay{
        box-shadow: inset 0 0 0 1000px #ccc;
    }
    
    #calSpace, #calSpace * {
        visibility: visible;
    }
    
    #calendarFrame {
        width: 100%;
    }
    
    .months_w {
        page-break-before: always;
        background-color: white; 
    }
    
        .months_w td:nth-child(1) {
            font-size: 12px;
        }
        
        .months_w td:nth-child(2) {
            width: 25em;
        }

        .months_w tfoot th{
            font-weight: normal;
            font-size: 12px;
        }

    .month_name_w {
        padding-top: 30mm;
        background-color: white;
        color: black;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .nums{
        height: 4.9em;
        font-size: .8em;
    }
    
    .day_weekend {
        color: black;
    }
    
    .day_names_w_style {
        font-size: .2em;
    }
    
    .celldescription {
        font-size: 12px;
    }
} /*end of @media print*/
